.welcome-socials {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.welcome-socials li {
    list-style: none;
    margin: 0 1rem;
}

.welcome-socials-icon {
    display: block;
    width: 100%;
    height: auto;
}