.welcome-socials {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.welcome-socials li {
    list-style: none;
}

.welcome-socials-icon {
    width: auto;
    height: 100%;
    max-width: 100px;
    margin: 0 1rem;
}

.welcome-socials-icon-small {
    width: auto;
    height: 24px;
}

.welcome-socials-icon-medium {
    width: auto;
    height: 36px;
}

.welcome-socials-icon-large {
    width: auto;
    height: 48px;
}

.welcome-socials-icon-default {
    width: auto;
    height: 60px;
}