.btn-arrow-outline {
    position: relative;
    border: 2px solid #000;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.container-arrow {
    width: 100%;
    cursor: pointer;
    position: absolute;
}

.container-arrow .arrow {
    left: 0;
}

.arrow {
    position: absolute;
    bottom: 0;
    margin-left: 4px;
    width: 32px;
    height: 32px;
    background-size: contain;
    top: 3px;
}

.second {
    margin-top: 8px;
}

.arrow-down {
    background-image: url(../../../assets/icons/arrow-down.png);
}

@keyframes arrowBounce {
    0% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }

    25% {
        opacity: 0;
        transform: translateY(8px) scale(0.9);
    }

    26% {
        opacity: 0;
        transform: translateY(-8px) scale(0.9);
    }

    55% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.bounceAlpha {
    animation-name: arrowBounce;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.arrow.first.bounceAlpha {
    animation-name: arrowBounce;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.btn-arrow-outline .arrow {
    animation-name: arrowBounce;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.btn-arrow-outline .arrow.first {
    animation-name: arrowBounce;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}