.about-description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.about-description-profile {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}

.about-description-pfp-container {
    border: 2px solid white;
    margin: 0 auto 2rem auto;
    width: 240px;
    height: 240px;
    display: block;
    background-color: black;
    border-radius: 50%;
    /*background-image: url(../../../assets/images/IMG_3107.jpg);*/
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.about-description-text {
    text-align: left;
}

.about-description-heading {
    margin-bottom: 0.25rem;
    text-transform: uppercase;
}

.about-description-subheading {
    text-transform: uppercase;
}

.about-about-description-workflow {
    width: 100%;
    height: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.about-about-description-workflow-chart {
    margin: 2rem auto 1rem auto;
    max-width: 100%;
    height: auto;
}

.about-about-description-workflow-chart li {
    list-style: none;
    text-align: center;
}