.contact-container {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.contact-message {
    margin-bottom: 1rem;
}

.contact-social-links {
    display: flex;
    align-items: center;
}