:root {
    /* CSS Variables */
    --primary-color: #ffffff;
    --secondary-color: #ffffff;
    --site-background-color: #f3f3f3;
    --text-color: #000000;
    --site-padding: 1rem;

    /* Font import */
    @font-face {
        font-family: Libel Suit;
        src: url(../../assets/fonts/libel-suit-rg.otf);
    }

    @font-face {
        font-family: Urbanist;
        src: url(../../assets/fonts/Urbanist-VariableFont_wght.ttf);
    }

    /*font-family: Inter,
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
    line-height: 1.5;
    font-weight: 400;*/
    font-family: "Urbanist",
    "Helvetica",
    "Arial",
    sans-serif;
    font-weight: 400;
    line-height: normal;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;

    color: var(--text-color);
    background-color: var(--site-background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: flex-start;
    min-width: 320px;
    min-height: 100vh;
}

ul,
li,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    border: 0;
}

#root {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.container-content {
    padding: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}