.card-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: blue;
}

.container-card-project-img {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    aspect-ratio: 1 / 1;
    background-color: blanchedalmond;
}

.card-project-img {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container-card-project-text {
    text-align: left;
}