.header {
    margin: 0;
    padding: 0 var(--site-padding, 1rem);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*border-bottom: 1px solid black;*/
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    /*position: fixed;
    top: 0;
    left: 0;
    z-index: 999;*/
    background-color: #ebebeb;
}

.header-name {
    letter-spacing: 6px;
    font-size: 48px;
    font-family: "Libel Suit";
}

.scrolled {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#header li {
    list-style-type: none;
}

#header a {
    text-decoration: none;
}

.img-logo {
    width: 48px;
    height: auto;
}

/* Hide the desktop menu on smaller screens */
/*@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }
}*/