#header {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#header li {
    list-style-type: none;
}

#header a {
    text-decoration: none;
}

.img-logo {
    width: 48px;
    height: auto;
}