.header-container {
    margin: 0;
    padding: 1rem 1rem;
    width: 100%;
    height: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: var(--site-background);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    /*position: fixed;
    top: 0;
    left: 0;
    z-index: 999;*/
}

.header-logo {
    display: block;
    width: 88px;
    height: auto;
}

#header li {
    list-style-type: none;
}

#header a {
    text-decoration: none;
}

@media (min-width: 576px) {
    .header-container {
        padding: 1rem 2rem;
    }
}

/* Laptops will have bigger logo and burger menu will vanish */
@media (min-width: 768px) {
    .header-logo {
        width: 100px;
    }
}

/*.scrolled {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}*/

/* Hide the desktop menu on smaller screens */
/*@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }
}*/