.welcome-container {
    /* remove height of header */
    width: 100%;
    height: -webkit-calc(100vh - 85px);
    height: -moz-calc(100vh - 85px);
    height: -o-calc(100vh - 85px);
    height: calc(100vh - 85px);
    background-color: var(--site-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.welcome-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.welcome-card-heading {
    font-family: "Urbanist-Regular", sans-serif;
    text-align: left;
}

.welcome-card-heading-bold {
    font-family: "Urbanist-Semibold";
    color: var(--accent-color);
}

.welcome-arrow-down {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}